p {font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;}

#direction:hover{font-family:'Courier New';
                  font-size: smaller;
                  color:red;
                  background-color:darkblue}

.delane{
    color: aqua;
}

.quirke{
    color:blue;
}

table{
    border: 10px;
    color: chocolate;
    text-align: center;
    padding: 10px;
    margin-left:auto;
    margin-right: auto;
}

tr:nth-child(odd) {
    background-color:aquamarine;
}