.class{font-family: 'Times New Roman', Times, serif;
    font-size: 2px;
    color: black;}

#direction{font-family:'Courier New';
                  font-size: 16px;
                  color:black;
                  background-color:lightcoral}

#direction:hover{
    color: red;
    background-color: blueviolet;
}
.delane{
    color: aqua;
}
.delane:hover{
    color: aqua;
    text-shadow: 2px 2px 4px red;
    border-style: solid;
}

.quirke{
    color:blue;
}

.quirke:hover{
    color:blue;
    text-shadow: 2px 2px 4px red;
    border-style: solid;
}
table{
    border: 5px;
    color: chocolate;
    text-align: center;
    padding: 1px;
    margin-left:auto;
    margin-right: auto;
    border-style: solid;
}

tr:nth-child(odd) {
    background-color:aquamarine;
}